body{
    background-color: cadetblue;
}
#main{
    text-align: center;
}
#title{
   margin-top: 250px;
   font-size: 55px;
   -webkit-text-stroke: 2px lightgray;
}
#color{
    color: lightgrey;
    -webkit-text-stroke: 2px black;
}
#btn{
    background-color: lightskyblue;
    border-radius: 12px;
    padding: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
}

